<section class="home">
  <div class="home__content">
    <h1>Ласкаво просимо до RelaxHotel</h1>
    <p>Ми пропонуємо комфортабельні номери для вашого відпочинку, від стандартних до люксових. Наш сервіс орієнтований на зручність та задоволення клієнтів.</p>

    <p>Забронювати номер можна онлайн у кілька кліків. Також ми надаємо знижки постійним клієнтам та спеціальні пропозиції у святкові дні.</p>

    <a routerLink="/rooms" class="home__btn">Переглянути номери</a>
  </div>

  <img src="assets/home-page logo/hotel-main.jpg" alt="RelaxHotel" class="home__image" />
</section>
